/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  width: 100%;
}

.navbar{
	max-width:100%;
}

.nav-link {
	color: white;
	border-radius: 15px;
	padding: 10px;
	transition: 0.7s;
  }
  
  .nav-link.active {
	color: white !important;
	background-color: #b36200;
	padding: 10px;
	transition: 0.7s;
  }
  

.page-style {
	background-color: white;
}

.profile-pic {
	width: 110%;
}

.rule {
	display: none;
}

.sub-header {
	background-color:#343a40;
	color: white;
	margin-top: 80px;
	margin-bottom: 30px;
	padding: 50px;
}

.banner {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.top-left {
	font-size: 10px;
	display: none;
	color: black;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}

.container-fluid:hover .banner {
	opacity: 0.6;
}

.container-fluid:hover .top-left {
	opacity: 0.9;
	display: block;
}

.text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }

.banner:hover div{
	transition: 0.5s
}

.image-text {
	position: absolute;
	top: 10%; 
	left: 10px;
	margin-left:10px;
	margin: 0px;
	z-index: 0;
}

.contact-icons {
	font-size: 2em; 
	color: black;
	padding: 10px;		
	margin: 5px;
	transition: 1s;
}

.contact-icons:hover {	
	padding: 15px;
	transition: 1s;
}

.email {
	font-size:40px;
	margin: 7%;
}

/*
flip card
*/
.card-container {
	display: grid;
}
.card-flip {
    display: grid; grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front {
	grid-area: frontAndBack;
	padding: 15px;
	margin: 20px;
	border-radius: 25px;
	box-shadow: 10px 7px 10px 5px;
}

.back {
    grid-area: frontAndBack;
	transform: rotateY(-180deg);
	background-color: #343a40;
	color: white;
	padding: 25px;
	margin: 20px;
	border-radius: 25px;
	box-shadow: 10px 7px 10px 5px;	
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.bottom-right {
	position: absolute;
	top: 90%;
	right: 5%;
	font-size: 12px;
  }

.fide-in-right {
    opacity: 0;
    overflow: hidden;
    width: 30%;
    height: 100%;
    margin: 0;
    -webkit-transition: width 1000ms ease-in, opacity 1s ease-out;
    -moz-transition: width 1000ms ease-in, opacity 1s ease-out;
    -o-transition: width 1000ms ease-in, opacity 1s ease-out;
    transition: width 1000ms ease-in, opacity 1s ease-out;
}

.active {
  opacity: 1;
  width: 100%;
}


@media (max-width:770px) {
	.profile-pic {
		width: 40%;
	}
	.rule {
		display: block;
	}
  }

@media only screen and (max-width: 470px) {
	  .email {
		font-size:30px;
		/* margin: 7%; */
	}
}

@media only screen and (max-width: 360px) {
	.email {
	  font-size:20px;
	  /* margin: 7%; */
  }
}