/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.page-style {
	background-color: white;
}

.profile-pic {
	width: 110%;
}

@media (max-width:800px) {
	.profile-pic {
		width: 20%;
		position: absolute;
		top: -1200%;
		left: 70%;
	}

	.personal-text {
		position: absolute;
		top: 100%;
	}
  }

.sub-headers {
	background-color: lightgrey;
}

.banner {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.top-left {
	transition: 0.3s ease;
	opacity: 0;
	position: absolute;
	font-size: 10px;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: left;
}

.container-fluid:hover .banner {
	opacity: 0.3;
}

.container-fluid:hover .top-left {
	opacity: 0.8;
}

.text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }

.banner:hover div{
	/* display: block; */
	transition: 0.5s
}

.image-text {
	position: absolute;
	top: 10%; 
	left: 10px;
	/* display: none;
	position: relative;
	top: -93%;
	font-size: 10px; */
    /* height:30px;
    width:290px; */
	margin-left:10px;
	margin: 0px;
	z-index: 0;
}

.panel-img {
	border-radius: 25px;
}

.item {
	margin: 30px;
	padding: 20px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 10px 7px 10px 5px;
	/* background-color: white; */
}

.item:hover{
	box-shadow: 10px 7px 10px 5px;
	padding: 40px;
	border: solid 0px;
	border-color: lightgrey;
	border-radius: 25px;
	transition: 0.5s; 

}

.logo-small {
	margin-left: 30px;
	padding: 25px;
	width: 100;
	height: 110px;
	border-color: lightgrey;
}

.logo-small:hover {
	box-shadow: 10px 0px 10px 0px black;
	padding: 30px;
	border: solid 0px;
	transition: 0.3s;
	border-radius: 25px
}

.cv-logo {
	margin-left: 50px;
	padding: 10px;
	width: 100px;
	height: 110px;
	/*border-color: lightgrey;*/
}

.cv-logo:hover {
	box-shadow: 10px 0px 10px 0px black;
	padding: 15px;
	transition: 0.3s;
	border: solid 0px;
	border-radius: 25px;
	border-color: lightgrey;
}

.email {
	padding: 20px;
	margin-left: 75px;
}